<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWA9Service" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/WA9Service/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWA9Service" contract="WA9Service.IWA9Service"
                name="BasicHttpBinding_IWA9Service" />
        </client>
    </system.serviceModel>
</configuration>